<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SacAdo</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>

    <!-- Bootstrap CSS File -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" >
    <!-- Local CSS File -->
    <link href="styles/accueil_style.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="styles/select2.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<header id="header">
    <div class="container">
        <div class="logo float-left">
            <a class="navbar-brand sacado" href="#intro"><img src="img/sacadoLogo.png"/> SACADO<img src="img/approche_gar.png" /></a>
            <a href="#" data-toggle='modal' data-target='#sacadopopup' class="btn btn-sacado_index">  Version Établissement </a>
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul> 
                <li><a href="#" data-toggle='modal' data-target='#connexion' class="btn btn-intro_sacado btn-connex">Connexion</a></li>
                <li><a href="#" data-toggle='modal' data-target='#inscription' class="btn btn-intro_sacado">S'inscrire</a></li>
                <li><a href="#footer" class="btn btn-intro_sacado">Contact</a></li>
            </ul>
        </nav><!-- .main-nav -->
    </div>
</header>
<!-- #header
 
<%- include('./templates/home.html'); %>

 -->


<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="inscription" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px;font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <h3  class="sacado">Inscription  </h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                

            </div>
            <div class="modal-body">
                <div class="row" align="center">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <h2 class="sacado">Vous êtes Enseignant<br/><small>Version gratuite</small></h2>
                         
                        <a href="{% url 'register_teacher_accueil' %}"><img src="img/teacherss.jpg" width="400" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <h2 class="sacado">Vous représentez un établissement<br/><small>Voir tarifs et conditions</small></h2>
                         
                        <a href="{% url 'school_adhesion' %}"><img src="img/schoolss.jpg" width="400" class="img-fluid"></a>
                    </div>
                </div>

                <div class="row" align="center">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <h2 class="sacado">Vous êtes Élève</h2>
                        <a href="#" data-toggle='modal' data-target='#students' ><img src="img/students.jpg" width="400" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <h2 class="sacado">Vous êtes Parent</h2>
                        <a href="#" data-toggle='modal' data-target='#parents' ><img src="img/parentss.jpg" width="400" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--==========================
      Parent  Section
    ============================-->
<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="parents">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Inscription Parents</h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body">
                <div class="row">
                      <div class="col-xs-6 col-lg-6" align="center">
                        <div class="teachers-img">
                          <img src="img/parentss.jpg" width="400" class="img-fluid">
                        </div>

                          <div class="features wow bounceInUp clearfix">
                          <br>
                            <h3 class="thin">Suivi des activités en temps réel</h3>
                          </div>
                      </div>
                      <div class="col-xs-6 col-lg-6">
                            <form action="{%  url 'register_parent' %}" method="POST" id="parent_form"  >
                            {% csrf_token %}
                                {% include 'parent_form.html' %}
                                <div class="row">

                                    <div class="col-lg-6 col-xs-6">
                                        <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary is_child_exist" value="Valider" /></div>
                                    </div>
                                    <div class="col-lg-6 col-xs-6" >Vous n'avez pas d'enfants dans Sacado.
                                        <a href="https://sacado-academie.fr" class="btn btn-primary" > Vers la Sacado Académie</a>
                                    </div>
                                </div>
                            </form>
                      </div>
                  </div>
             </div>
        </div>
    </div>    
</div>
    <!--==========================
      Student  Section
    ============================-->
<div class="modal fade" id="students" tabindex="-1" role="dialog" aria-labelledby="students">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Inscription Elèves</h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-xs-6 col-lg-6">
                    <div class="teachers-img">
                      <img src="img/students.jpg" width="700" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-xs-6 col-lg-6">
                        <form action="{%  url 'register_student' %}" method="POST" id="student_form"  >
                        {% csrf_token %}
                            {% include 'student_form.html' %}
                            <div style="height: 40px"></div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <div class="form-group"><input name="envoi" id="join_group" type="submit" class="btn btn-primary sendit"  disabled value="Rejoindre mon groupe" /></div>
                                </div>
                                <div class="col-lg-6 col-xs-6" >Vous n'avez pas de groupe.
                                    <a href="https://sacado-academie.fr" class="btn btn-primary" >Vers la  Sacado Académie</a>
                                </div>
                            </div>
                        </form>
                  </div>
                </div>
             </div>
        </div>
    </div> 
</div>










<div class="modal fade" id="sacadopopup" tabindex="-1" role="dialog" aria-labelledby="sacadopopup" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px;font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <h3  class="sacado">SACADO - Version établissement <a href="#" data-toggle='modal' data-target='#worldwide' > <i class="fa fa-globe"></i></a>  </h3>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                

            </div>
            <div class="modal-body">
                Toutes les fonctionnalités qui s'utilisent en établissement ou qui demandent de la ressource du serveur ne sont pas incluses dans la version enseignant. Lorsqu'une fonctionnalité est proposée <i class="fa fa-check text-success"></i>, elle reste à la discrétion de l'enseignant. Les établissements SACADO dans le monde <a href="#" data-toggle='modal' data-target='#worldwide' > <i class="fa fa-globe"></i></a> 
                 <br/><a href="{% url 'school_adhesion' %}" class="btn btn-sacado_index">Passez à la version Etablissement - 15 jours gratuit</a> 

                <br/>La version Etablissement est valable jusqu'au 13 juillet de l'année scolaire en cours.
                 {% include 'sacado_asso.html' %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sacado_association" tabindex="-1" role="dialog" aria-labelledby="sacado_association" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <h3  class="sacado">L'association SACADO  </h3>
                 
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                

            </div>
            <div class="modal-body">

                 {% include 'sacado_association.html' %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="worldwide" tabindex="-1" role="dialog" aria-labelledby="worldwide" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px;font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <h3  class="sacado"><i class="fa fa-globe"></i> Les établissements SACADO</h3>                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                
            </div>
            <div class="modal-body">
                <img src="img/map.png" width="770px" />
            </div>
        </div>
    </div>
</div>



 
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h1  class='thin'  >Se connecter</h1>
            </div>
            <div class="modal-body">
                   
                <form action="{%  url 'login' %}" method="POST"  > 
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">
                            <label class='white'>{{ form.username.label_tag }} </label>   
                            {{ form.username |add_class:"form-control" }}
                            {{ form.username.errors }}
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">   
                            <label class='white'>{{ form.password.label_tag }} </label>   
                            {{ form.password |add_class:"form-control"  }}
                            {{ form.password.errors }}
                            </div>
                        </div> 
 
                    </div> 
                    <div class="row">
                        <div class="col-lg-5 col-xs-12">  
                            <div class="form-group">   
                                <a href="#"  data-toggle='modal' data-target='#lostpasswordModal' style="font-size:12px; color : #ef635c;">Identifiants oubliés ?</a>  
                            </div>        
                        </div>
                        <div class="col-lg-4 col-xs-6">  
                            <div class="form-group">   
                                <input name="envoi" type="submit" class="btn btn-sacado" value="Connexion" />
                            </div>        
                        </div>
                        <div class="col-lg-3 col-xs-6">  
                            <div class="form-group">   
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>  
                            </div>        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-6">
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-6">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger index_size">
                                Se connecter avec <img src="img/Googlelogo.png" height="15"
                                                       style="margin-left: 5px; vertical-align: baseline"/>
                            </a>
                        </div>
                    </div>


                </form> 
            </div>
        </div>
    </div>
</div>
 

<div class="modal fade" id="lostpasswordModal" tabindex="-1" role="dialog" aria-labelledby="lostpasswordModal" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class='sacado'  >Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            Pour des raisons de sécurité, il n'est pas possible de récupérer votre mot de passe. <b>Vous devez renseigner ci-dessous l'adresse électronique que vous avez utilisé lors de votre inscription.</b>
                            Vous allez recevoir un courriel sur cette adresse contenant un lien permettant de réinitialiser votre mot de passe.<br/> <b>Pour les élèves :</b> Si vous n'avez pas renseigné d'adresse électronique lors de votre inscription, vous ne pouvez pas récupérer votre mot de passe sans passer par votre enseignant.
                             

                        </div>        
                    </div> 
                    <hr>
                <form action="{%  url 'password_reset' %}" method="POST"  >
                {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                {{ np_form.email|add_class:"form-control"|attr:"placeholder:Renseigner votre courriel"|attr:"required"}}
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">   
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary" value="Nouveau mot de passe" /></div>
                        </div> 
                    </div> 
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>          
        </div>          
    </div>
</div>

<div class="modal fade" id="cgu" tabindex="-1" role="dialog" aria-labelledby="cgu">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class='thin'  >Conditions générales d'utilisation </h1>
            </div>
            <div class="modal-body">
            
                <p>En vigueur au 01/07/2021</p>

                <p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par l'association SACADO et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».</p>

                <p>Le site internet Sacado.xyz est un service de l’association Sacado, immatriculée à la préfecture du Var, sous le numéro W832020065, sous le numéro Siren 903345569 et Siret 903345569 00011  et dont le siège social est situé :
                <li>2 B Avenue de la pinède, La Capte, 83400 Hyères</li>
                <li>adresse URL du site : https://sacado.xyz</li>
                <li>email : sacado.asso@gmail.com</li>
                </p>
                <p>Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Chaque utilisateur accepte expressément les présentes CGU, en cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</p> 
                <p>Nous tenons à rappeler que toute atteinte à la dignité morale, au respect de la personne, de propos diffamatoires … ne sont pas sans conséquence (même sur internet) et vous expose à des poursuites judiciaires. Les échanges doivent se faire avec convivialité et compréhension.</p> 
                <p>L’Utilisateur s’engage à rester courtois dans le cadre des commentaires et messages qu’il formule (signalement d’exercices, notification/forum, chat…) et rester dans le cadre et les informations utiles au bon fonctionnement de la plateforme Sacado.</p> 
                <p>Chaque Utilisateur a la possibilité d’illustrer son profil avec un avatar, il a la possibilité de choisir un avatar parmi ceux proposés par Sacado, (il ne peut ni en créer, ni en télécharger).</p>  
                <p>Il s’engage à respecter les lois et règlements en vigueur ainsi que les droits des tiers. 
                En cas de manquement de tout ou partie par l’Utilisateur des présentes CGU, l’association Sacado se réserve la possibilité de suspendre ou fermer sans délai et sans préavis le Compte de l’Utilisateur, en avertissant son professeur et/ou l’établissement.</p> 

                <p>https://sacado.xyz se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.</p>

            </div>
            <div class="modal-footer">    
                <div class="col-lg-6 col-xs-6">   
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button> 
                </div>             
            </div> 
        </div>
    </div>
</div>

</body>
</html>

 
