/*  Bleu de base 0152a3 + Orange : FB5100 , orange : FBC000 */

#standard_tab{
    background-color: #FFF;
}


 .partie{
    font-size: 14px;
   font-variant: small-caps;
   font-weight : 100;
}

section {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;  
}
.content_bgwhite{
    background-color: #FFF;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);    
    overflow-y: hidden ;
}

.no_padding{
    padding: 0px;    
    overflow-x: hidden ;
}

 

.full_size_section {
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 0px;  
}



h1 {
    font-size:2em; 
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    color:#000;
}
a:hover{
    color:#FB5100; 
}

.bit {
    font-size:2.5em; 
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color:#000;
}

.select2-selection__choice {
    background-color: #5691ff;
}

.orange{color :#f0ad4e;}
.bleu{color :#286090;}
.green{color :#5cb85c;}
.red{color :#d9534f;}
.cyan{color :#d9edf7;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-color: transparent;
}

.tab-content > .tab-pane {
    display: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.tab-content > .active {
    display: block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.2;
    color: #00819F;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    font-size:14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.form-control:focus {
    color: #00819F;
    border: 1px solid #00819F;
    border-radius: 0rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #00819F;
    line-height: 32px;
}

.user{
  font-size: 16px;
  margin-top:10px;
  cursor: pointer;
}

.action3{
    width:30px;
}


.edit{  color: #c6c6c6; cursor:pointer; margin-right: 5px; }
.edit:hover{  color: #1bc074;cursor:pointer;}
.delete{  color: #c6c6c6; cursor:pointer;}
.delete:hover{  color: #ff1e02; cursor:pointer;}

.form-inline {
    display: block;
    text-align:left;
}

.clear{
  clear:both;
  height:10px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    right:0;
    min-width: 120px;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:0px;
    border-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 12px
}

.dropdown-content a:hover {background-color: #F7F7F7;}

.dropdown:hover .dropdown-content {display: block;}

.animation {
    background-color: #FFF;
    border : 1px solid #eee;
    padding:20px;
    margin-bottom: 20px ; 
}

.small{
  font-size:10px;
}

.errorlist{
    list-style-type: none;
    color: #FFF;
    background-color: #f98e97;
    border:1px solid #FF0000;
}

.formercompetencies{
    margin-left:5px;
    font-size: 12px;
    list-style-type: square ;
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

